body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#drawingArea {
    background-color: black;
    float: left;
    cursor: crosshair;
    opacity: 0.5;
}

#editorArea {
    float: left;
    margin-right: 10px;
    opacity: 0.5;
}

#buttons {
    float: left;
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#waveformDisplayArea {
    float: left;
}

#cnvWavL, #cnvWavR {
    background-color: black;
    float: left;
    clear: left;
    margin-bottom: 10px;
}

#waveformDisplayArea label, #waveformDisplayArea button {
    float: left;
    clear: left;
    margin-bottom: 5px;
}

#fileOperationButtons, #fileErrorContainer {
    float: left;
    clear: left;
    margin-bottom: 10px;
}

#lblFileErr {
    color: red;
}
