body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#drawingArea {
    position: absolute;
    background-color: black;
    float: left;
    cursor: crosshair;
    /* opacity: 0.5; */
}

#editorArea {
    float: left;
    margin-right: 10px;
    /* opacity: 0.5; */
}

#buttons {
    float: left;
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#waveformDisplayArea {
    float: left;
}

#cnvWavL, #cnvWavR {
    background-color: black;
    float: left;
    clear: left;
    margin-bottom: 10px;
    /* opacity: 0.5; */
}

#waveformDisplayArea label, #waveformDisplayArea button {
    float: left;
    clear: left;
    margin-bottom: 5px;
}

#fileOperationButtons, #fileErrorContainer {
    float: left;
    clear: left;
    margin-bottom: 10px;
}

#lblFileErr {
    color: red;
}

#imgElement {
    /* position: absolute;  */
    /*width: 300px;
    height: 150px;
    background-color: lightblue;
    border: 1px solid black */
}
