body {
    
    background-image: url("https://www.lankyduck.com/backgroundEpic.gif");
    background-repeat:repeat-y;
    background-color: #cccccc;
    background-position: 0px 50px;
    background-size: cover;
   }