body {
    
     background-image: url("https://www.lankyduck.com/backgroundEpic.gif");
    background-repeat: repeat-y;
    background-color: #cccccc;
    background-position: 0px 50px;
    background-size: cover; 
   }

.header{
    padding: 60px;
    text-align: left;
    background: #1abc9c;
    color: #C4C4C4;
    opacity: 0.6;
}