body {
    margin:0;
    background-image: url("https://www.lankyduck.com/backgroundEpic.gif");
    background-repeat: repeat-y;
    background-color: #cccccc;
    background-position: 0px 50px;
    background-size: cover; 
   }

.headerpjog{
    width: cover;
    height: 50px;
    background-color: #c4c4c4;
    opacity: 0.1;
}

.top-left{
    position: absolute;
    top: 2px;
    left: 16px;
}
.top-right{
    position: absolute;
    top: 2px;
    left: 89.5%;
}


bruh{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 600; */
    font-style: normal;
    background: -webkit-linear-gradient(#2b31d1,#7f10ff);
    background-clip:border-box ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
