body {
    margin:0;
    background-image: url("https://www.lankyduck.com/backgroundEpic.gif");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover; 
   }
.cock{
    width: 80%;
    height: fit-content;
    position: center;
    opacity: 0.1;

}
.top-left{
    position: absolute;
    top: 5px;
    left: 5px;
}
.bottom-right{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.bottom-left{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
bruh{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: -webkit-linear-gradient(#2b31d1,#7f10ff);
    background-clip:border-box ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
